body {
    margin: 0;
    padding: 0;
    background-color: #3C424A;
    font-family: 'Raleway', sans-serif;
    color: #F9F9F9;
}

.container-todo {
    width: 100%;
    height: 100vh;
    display: flex;
}

#input-block {
    display: flex;
    width: 600px;
    height: 100px;
    border-radius: 10px;
    background-color: #95ADBE;
    margin: auto;
}

input, label, button, li {
    margin: auto;
}

label {
    font-size: 1
}

li {
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
}

#list-todo {
    overflow: auto;
    width: 500px;
    height: 250px;
    background-color: #95ADBE;
    border-radius: 10px;
    margin: auto;
    text-align: center;
}

.button_app {
    margin-left: 10px;
    background-color: #3C424A;
    border-radius: 10px;
    color: #F9F9F9;
}

#input-block {
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }